<div class="mat-app-background mat-typography theme-div" [class.dark]="globals.darkMode">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Theme Toggle Example</span>
      <span class="example-spacer"></span>
      <button mat-icon-button routerLink="/home" matTooltip="Home">
        <mat-icon class="invert-icon">home</mat-icon>
      </button>
      <button mat-icon-button routerLink="/update" matTooltip="Update">
        <mat-icon class="invert-icon">edit</mat-icon>
      </button>
      <button mat-icon-button (click)="globals.toggleTheme()" matTooltip="Toggle theme">
        <mat-icon class="invert-icon">invert_colors</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
