<div class="update-div mat-app-background mat-typography">
  <div class="row">
    <h1>Update Page</h1>
  </div>
  <div class="row">
    <mat-spinner color="primary"></mat-spinner>
    <mat-spinner color="accent"></mat-spinner>
    <mat-spinner color="warn"></mat-spinner>
  </div>
  <div class="row">
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Legacy form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
  </div>
  <div class="row">
    <p>
      <mat-form-field appearance="standard" color="primary">
        <mat-label>Standard form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
  </div>
  <div class="row">
    <p>
      <mat-form-field appearance="fill"  color="accent">
        <mat-label>Fill form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
  </div>
  <div class="row">
    <p>
      <mat-form-field appearance="outline" color="warn">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
  </div>
  <div class="row">
    <p>
      <mat-form-field appearance="outline" color="warn">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
  </div>
  <div class="row">
    <p>
      <mat-form-field appearance="outline" color="warn">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
  </div>
  <div class="row">
    <p>
      <mat-form-field appearance="outline" color="warn">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
  </div>
  <div class="row">
    <p>
      <mat-form-field appearance="outline" color="warn">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
  </div>
</div>
