<div class="home-div mat-app-background mat-typography">
  <div class="row">
    <h1>Welcome Home</h1>
  </div>
  <div class="row">
    <p>
      <mat-form-field appearance="outline" color="warn">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
  </div>
</div>
